/*GLOBAL, COMMON*/
.ac-chevron {
  width: 12px;
}

.ac-container-90 {
  width: 90%;
  margin: 0 auto;
}

.ac-btn-orange {
  background-color: #CC3D0F;
}

.ac-btn-teal {
  background-color: #2D64E6;
}

.ac-teal {
  color: #2276CF;
}

h4 {
  color: grey;
}

/*HEADER*/
header {
  height: 100px;
}

header .ac-header-top {
  height: 30px;
  background-color: #000;
}

header .ac-header-top img {
  height: 15px;
  padding-right: 10px;
}

/*JUMBOTRON*/
.ac-jumbotron {
  margin: 105px 0 20px 0;
  background-image: url(../img/jumbo-bg.png);
  padding: 350px 0 50px 0;
  background-size: cover;
  background-position: center;
}

.ac-jumbotron img {
  width: 300px;
}

.ac-jumbotron .btn {
  width: 130px;
  border-radius: 25px;
  margin-left: 10px;
}

.ac-jumbotron .btn:hover {
  box-shadow: inset 0px 0px 0px 2px black;
  border-radius: 25px;
}

.ac-jumbotron img, .ac-jumbotron h2, .ac-jumbotron p {
  padding-bottom: 30px;
  padding-left: 15px;
}


/*card che wrappano sotto jumbotron*/
.ac-card, .ac-card img {
  width: 100%;
  border-radius: 20px;

}

.ac-card {
  margin: 10px;
}

.ac-game-cards .ac-card:hover {
  cursor: pointer;
}

.ac-card.ac-active {
  border: 2px solid #2072CE;
  padding: 3px;
  border-radius: 25px;
}


/*section slogan*/

.ac-slogan {
  margin-top: 100px;
}

.ac-slogan h2 {
  font-size: 48px;
  padding-bottom: 15px;
}



/*section products*/

.ac-products {
  margin-top: 80px;
}

.ac-products h2 {
  font-size: 40px;
}

.ac-products h2, .ac-products h4 {
  padding-bottom: 20px;
}

.ac-products .btn {
  border-radius: 25px;
  margin-bottom: 20px;
}

.ac-products .btn:hover {
  box-shadow: inset 0px 0px 0px 2px #fff;
  border-radius: 25px;
}


.ac-prod-img {
  padding: 10px;
}

.ac-prod-img img{
  width: 65%;
}

.col.ac-active {
  border-bottom: 3px solid #2072CE;
}

.col.opacity-75 {
  transition: opacity .3s;
}

.col.opacity-75:hover {
  cursor: pointer;
  opacity: 1 !important;
}