/*GLOBAL, COMMON*/
.ac-chevron {
  width: 12px;
}

.ac-btn-orange {
  background-color: #CC3D0F;
}

.ac-btn-teal {
  background-color: #2D64E6;
}

.ac-btn-grey {
  background-color: #363636;
}

.ac-btn-lightgrey {
  background-color: #D9DADC;
}

.ac-teal {
  color: #2276CF;
}

h4 {
  color: grey;
}

/*HEADER*/
header {
  height: 100px;
}

header .ac-header-top {
  height: 30px;
  background-color: #000;
}

header .ac-header-top img {
  height: 15px;
  padding-right: 10px;
}

nav .btn {
  border-radius: 25px;
  margin-right: 10px;
}

nav .btn:hover {
  box-shadow: inset 0px 0px 0px 2px #fff;
  border-radius: 25px;
}

.ac-search {
  cursor: pointer;
  height: 30px;
}

/*JUMBOTRON*/
.ac-jumbotron {
  margin: 105px 0 20px 0;
  background-image: url(../img/jumbo-bg.png);
  padding: 350px 0 50px 0;
  background-size: cover;
  background-position: center;
}

.ac-jumbotron img {
  width: 300px;
}

.ac-jumbotron .btn {
  width: 130px;
  border-radius: 25px;
  margin-left: 10px;
}

.ac-jumbotron .btn:hover, .ac-big-banner.ac-itt .btn:hover {
  box-shadow: inset 0px 0px 0px 2px black;
  border-radius: 25px;
}

.ac-jumbotron img, .ac-jumbotron h2, .ac-jumbotron p {
  padding-bottom: 30px;
  padding-left: 15px;
}


/*card che wrappano sotto jumbotron*/
.ac-card, .ac-card img {
  width: 100%;
  border-radius: 20px;

}

.ac-card {
  margin: 10px 0;
}

.ac-game-cards .ac-card:hover {
  cursor: pointer;
}

.ac-card.ac-active {
  outline: 2px solid #2072CE;
  outline-offset: 2px;
  padding: 3px;
  border-radius: 25px;
}


/*section slogan*/

.ac-slogan {
  margin-top: 100px;
}

.ac-slogan h2 {
  font-size: 48px;
  padding-bottom: 15px;
}



/*section products*/

.ac-products {
  margin-top: 80px;
}

.ac-products h2 {
  font-size: 40px;
}

.ac-products h2, .ac-products h4 {
  padding-bottom: 20px;
}

.ac-products .btn {
  border-radius: 25px;
  margin-bottom: 20px;
}

.ac-products .btn:hover {
  box-shadow: inset 0px 0px 0px 2px #fff;
  border-radius: 25px;
}

.ac-prod-img {
  padding: 10px;
}

.ac-prod-img img{
  width: 65%;
}

.col.ac-active {
  border-bottom: 3px solid #2072CE;
}

.col.opacity-75 {
  transition: opacity .3s;
}

.col.opacity-75:hover {
  cursor: pointer;
  opacity: 1 !important;
}

/*BIG BANNER IT TAKES TWO*/

.ac-big-banner.ac-itt {
  background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
  padding: 80px 0 40px 0;
  margin-top: 40px;
  background-size: cover;
  background-position: center;
}

.ac-big-banner.ac-itt img {
  width: 300px;
}

.ac-big-banner.ac-itt .btn {
  width: 130px;
  border-radius: 25px;
}

.ac-big-banner.ac-itt img, .ac-big-banner.ac-itt h2, .ac-big-banner.ac-itt p {
  padding-bottom: 30px;
}

.ac-big-banner.ac-itt h2 {
  font-size: 40px;
}

/*NUOVE USCITE*/
.ac-new-releases {
  background-color: #1F1F1F;
}
.ac-new-releases h2 {
  padding-top: 20px;
}

.ac-new-releases h2, .ac-new-releases h3 {
  padding-bottom: 20px;
}

.ac-new-releases .ac-card {
  border-radius: 25px;
  width: 100%;
}

.ac-new-releases .ac-card img {
  width: 100%;
}

.ac-new-releases .ac-card p {
  padding-top: 10px;
}


/*SECTION EXPLORE*/
.ac-explore h2 {
  padding: 50px 0 20px 0;
  font-size: 44px;
}

.ac-explore h5 {
  color: grey;
  padding-bottom: 20px;
}

.ac-explore h4:last-of-type {
  padding-bottom: 70px;
}

.ac-explore .ac-ps4 img {
  width: 100%;
}

.ac-explore .ac-ps4 .btn {
  margin-bottom: 50px;
}

.ac-explore .ac-ps4 .btn:hover {
  box-shadow: inset 0px 0px 0px 2px #fff;
  border-radius: 25px;
}

/*SECTION PS PLUS*/

.ac-ps-plus {
  background-color: #BEBCBB;
}

#pspluslogo {
  width: 60%;
  padding-bottom: 30px;
}

.ac-ps-plus p {
  padding-bottom: 20px;
}

.ac-ps-plus .btn {
  margin-bottom: 30px;
}

.ac-ps-plus .btn:hover {
  color: #2276CF;
  outline: 3px solid rgba(255,255,255, .4);
}

.ac-ps-plus img.ps-plus-games {
  max-width: initial;
  width: 100%;
  padding: 0;
  margin-bottom: 0;
}

/*SECTION SALES*/
.ac-ps-sales {
  margin-bottom: 70px;
}

.ac-ps-sales h2 {
  padding: 50px 0 20px 0;
  font-size: 44px;
}

.ac-ps-sales h4 {
  padding-bottom: 30px;
}

.ac-ps-sales img {
  width: 100%;
  cursor: pointer;
}

/*SECTION PS NOW*/
.ac-ps-now {
  background-color: #161D3B;
  margin-bottom: 70px;
}

#psnowlogo {
  width: 60%;
  padding-bottom: 30px;
}

.ac-ps-now p {
  padding-bottom: 20px;
}

.ac-ps-now img.ps-now-games {
  max-width: initial;
  width: 100%;
  padding: 0;
  margin-bottom: 0;
}

.ac-ps-now .btn:hover {
  box-shadow: inset 0px 0px 0px 2px #000;
  border-radius: 25px;
}

/*SECTION SOCIAL*/
.ac-social-icons {
  margin-bottom: 70px;
}

.ac-social-icons h2 {
  font-size: 40px;
  padding-bottom: 50px;
}

.ac-social-icons img {
  max-width: 100%;
  padding: 15px 0;
  cursor: pointer;
}

/*MEDIA QUERY*/
@media screen and (max-width: 992px) {
    
    #pspluslogo, #psnowlogo {
      width: 80%;
    }

    .ac-ps-plus .btn, .ac-ps-now .btn {
      margin-bottom: 10px;
    }
}

@media screen and (max-width: 576px) {
  
  .ac-ps-plus .btn, .ac-ps-now .btn {
    margin-bottom: 30px;
  }
}
